name: build-wheels-macos-x64

on:
  push:
    branches:
      - wheel
    tags:
      - '*'
  workflow_dispatch:

concurrency:
  group: build-wheels-macos-x64-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_wheels_x64:
    name: ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13]
        python-version: ["cp37", "cp38", "cp39", "cp310", "cp311", "cp312", "cp313"]

    steps:
      - uses: actions/checkout@v4

      # see https://cibuildwheel.readthedocs.io/en/stable/changelog/
      # for a list of versions
      - name: Build wheels
        if: matrix.python-version == 'cp37'
        uses: pypa/cibuildwheel@v2.11.4
        env:
          CIBW_BUILD: "${{ matrix.python-version}}-* "
          CIBW_ENVIRONMENT: KALDI_NATIVE_FBANK_CMAKE_ARGS="-DCMAKE_OSX_ARCHITECTURES='x86_64'"
          CIBW_ARCHS: "x86_64"
          CIBW_BUILD_VERBOSITY: 3

      - name: Build wheels
        if: matrix.python-version != 'cp37' && matrix.python-version != 'cp313'
        uses: pypa/cibuildwheel@v2.11.4
        env:
          CIBW_BUILD: "${{ matrix.python-version}}-* "
          CIBW_ENVIRONMENT: KALDI_NATIVE_FBANK_CMAKE_ARGS="-DCMAKE_OSX_ARCHITECTURES='x86_64'"
          CIBW_ARCHS: "x86_64"
          CIBW_BUILD_VERBOSITY: 3

      - name: Build wheels
        if: matrix.python-version == 'cp313'
        uses: pypa/cibuildwheel@v2.21.3
        env:
          CIBW_BUILD: "${{ matrix.python-version}}-* "
          CIBW_ENVIRONMENT: KALDI_NATIVE_FBANK_CMAKE_ARGS="-DCMAKE_OSX_ARCHITECTURES='x86_64'"
          CIBW_ARCHS: "x86_64"
          CIBW_BUILD_VERBOSITY: 3

      - name: Display wheels
        shell: bash
        run: |
          ls -lh ./wheelhouse/

      - uses: actions/upload-artifact@v4
        with:
          name: wheel-${{ matrix.python-version }}
          path: ./wheelhouse/*.whl

      - name: Publish wheels to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        shell: bash
        run: |
          opts='--break-system-packages'
          v=${{ matrix.python-version }}
          if [[ $v == cp37 || $v == cp38 || $v == cp39 ]]; then
            opts=''
          fi

          python3 -m pip install $opts --upgrade pip
          if [[ ${{ matrix.python-version }} == "cp37" ]]; then
            python3 -m pip install $opts wheel twine setuptools
          else
            python3 -m pip install $opts wheel twine==5.0.0 setuptools
          fi

          twine upload ./wheelhouse/*.whl
