name: test-wheel

on:
  push:
    branches:
      - test-wheel

  workflow_dispatch:

  schedule:
    # minute (0-59)
    # hour (0-23)
    # day of the month (1-31)
    # month (1-12)
    # day of the week (0-6)
    # nightly build at 23:50 UTC time every day
    - cron: "50 23 * * *"

concurrency:
  group: test-wheel-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read


jobs:
  test_wheel:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install kaldi-native-fbank
        shell: bash
        run: |
          python3 -m pip install --upgrade pip numpy
          python3 -m pip install kaldi-native-fbank

      - name: Display version
        shell: bash
        run: |
          python3 -c "import kaldi_native_fbank; print(kaldi_native_fbank.__file__)"
          python3 -c "import kaldi_native_fbank; print(kaldi_native_fbank.__version__)"
